.all-cards {
  /* display: flex;
  margin-right:40%;
  padding-bottom: 150px;
  width: 400px; */
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Three columns, equal width */
  grid-gap: 40px;
  width: auto;
  padding-left: 50px;

}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #eee6e6;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 256px;
    height: 500px;
   
  }
  /* #ccc */
  .card img {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }
  
  .card h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .card p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  
  .stars {
    display: flex;
    margin-bottom: 1rem;
  }
  
  .star {
    font-size: 2rem;
    color: #ccc;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
  }
  
  .star.active {
    color: #D99633;
  }
  
  .price {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .buy {
    background-color: #E68989;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .buy:hover {
    background-color: #e2aeae;
  }
  