.category-dropdown {
  background: #f1f1f1;
  padding: 10px;
  border-radius: 5px;
  width: 100%; /* Set the width to 100% */
  box-sizing: border-box; /* Include padding and borders in the width */
}

.category-list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}

.category-list li {
  margin-right: 20px;
  position: relative;
}

.category-title {
  cursor: pointer;
  color: #007bff;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s;
}

.category-title.active {
  color: #ff6347;
  background: #fff;
  border-radius: 5px;
}

.subcategory-list {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
  z-index: 1;
  visibility: visible;
}

.subcategory-list li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.subcategory-list li:hover {
  background-color: #f2f2f2;
}
